[init]
	defaultBranch = master
[core]
	whitespace = cr-at-eol
	editor = micro
	compression = 0
[fetch]
	prune = true
[pull]
	ff = only
[commit]
	template = ~/dotfiles/git/.gitmessage
[merge]
	ff = true
[diff]
	colormoved = dimmed-zebra
	colormovedws = allow-indentation-change
[http]
	postBuffer = 524288000
[color "branch"]
    remote = black
[color "status"]
	added = green
	changed = yellow
	untracked = black
[url "git@gitlab.com"]
	insteadOf = gl
	pushInsteadOf = gl
[url "git@github.com"]
	insteadOf = gh
	pushInsteadOf = gh
[url "git@bitbucket.com"]
	insteadOf = bb
	pushInsteadOf = bb
[include]
	path = ~/dotfiles/git/aliases.gitconfig
	path = ~/dotfiles/git/delta.gitconfig
[includeIf "gitdir:**/gitlab/**"]
	path = ~/dotfiles/git/gitlab.gitconfig
[includeIf "gitdir:**/github/**"]
	path = ~/dotfiles/git/github.gitconfig
