"*":
  core:
    allowPendingPaneItems: false
    audioBeep: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "about"
      "archive-view"
      "autocomplete-atom-api"
      "autocomplete-css"
      "autocomplete-html"
      "autocomplete-plus"
      "autocomplete-snippets"
      "autoflow"
      "autosave"
      "background-tips"
      "bookmarks"
      "bracket-matcher"
      "command-palette"
      "dalek"
      "deprecation-cop"
      "dev-live-reload"
      "encoding-selector"
      "exception-reporting"
      "find-and-replace"
      "fuzzy-finder"
      "git-diff"
      "github"
      "go-to-line"
      "grammar-selector"
      "image-view"
      "incompatible-packages"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-css"
      "language-gfm"
      "language-git"
      "language-go"
      "language-html"
      "language-hyperlink"
      "language-java"
      "language-javascript"
      "language-json"
      "language-less"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-property-list"
      "language-python"
      "language-ruby"
      "language-ruby-on-rails"
      "language-rust-bundled"
      "language-sass"
      "language-shellscript"
      "language-source"
      "language-sql"
      "language-todo"
      "language-toml"
      "language-typescript"
      "language-xml"
      "language-yaml"
      "link"
      "metrics"
      "notifications"
      "open-on-github"
      "package-generator"
      "snippets"
      "spell-check"
      "status-bar"
      "styleguide"
      "symbols-view"
      "timecop"
      "welcome"
      "wrap-guide"
      "language-text"
      "update-package-dependencies"
    ]
    projectHome: "C:\\Users\\andrew\\iCloudDrive\\27N4MQEA55~pro~writer"
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
    uriHandlerRegistration: "always"
  editor:
    fontSize: 10
    tabLength: 4
  "exception-reporting":
    userId: "41cdd319-870b-42d4-b1c2-d5e11ce6e0f7"
  welcome:
    showOnStartup: false
