"*":
  core:
    disabledPackages: [
      "about"
      "archive-view"
      "autocomplete-atom-api"
      "autocomplete-css"
      "autocomplete-html"
      "autocomplete-plus"
      "autocomplete-snippets"
      "welcome"
      "autoflow"
      "autosave"
      "background-tips"
      "bookmarks"
      "bracket-matcher"
      "command-palette"
      "dalek"
      "deprecation-cop"
      "dev-live-reload"
      "encoding-selector"
      "exception-reporting"
      "find-and-replace"
      "fuzzy-finder"
      "git-diff"
      "github"
      "go-to-line"
      "grammar-selector"
      "image-view"
      "incompatible-packages"
      "keybinding-resolver"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-css"
      "language-gfm"
      "language-git"
      "language-go"
      "language-html"
      "language-hyperlink"
      "language-java"
    ]
    telemetryConsent: "no"
    uriHandlerRegistration: "always"
  "exception-reporting":
    userId: "57f0a69c-050d-4f28-b117-e0b7ffc27065"
  welcome:
    showOnStartup: false
